---
layout: page
title : Home
group: navigation
---

{% include JB/setup %}

<div class="row">
	<div class="col-md-7">
		<blockquote>
			<p>Create personal products and services that positively impact the way a majority of society functions from day to day - this is my motto.</p>
			<small>Daniel Sposito</small>
		</blockquote>
	</div>
	<div class="col-md-5 recent-posts">
		<h3>Recent Posts</h3>
		<ul>
			{% for post in site.posts limit:5 %}
			  <li><span>{{ post.date | date: "%B %d, %Y" }}</span>  : <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

<script language="javascript">
	var greetings = [
		'Hello World',
		'Hola',
		'Olá',
		'Aloha',
		'Bonjour',
		'Hallo',
		'Buon Giorno',
		'Xin Chao',
		'Konnichiwa',
		'Namaste',
		'привет',
	];
	
	document.getElementById('page-title').innerHTML = greetings[Math.floor(Math.random() * greetings.length)];
</script>
