/* Custom container */
p.post-date {
  margin: 15px 0 0 0;
}

.container-narrow {
  max-width: 780px;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em;
}

.post > .more {
  margin: 10px 0;
  text-align: left;
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}
.post-image {
  margin: 15px;
  max-width: 210px;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}

/* Bootstrap Overrides */
body {
  padding-top: 70px;
}
h1, h2, h3 {
  line-height: 40px;
}
h2, h3 {
  margin-bottom: 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
blockquote {
  padding: 0 0 0 15px;
}
blockquote p {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 5px
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: #E5E5E5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}
.page-header {
  padding-bottom: 0;
  margin: 20px 0;
}
.dl-horizontal dt, .dl-horizontal dd {
  line-height: 22px;
}
.navbar-brand {
  font-weight: 200;
}
/* Larger modals for desktop devices. */
@media (min-width: 992px) {
  .modal-dialog-gallery {
    width: 750px;
  }
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: 0 auto;
}
.pager {
  font-size: 90%;
  margin: 25px 0;
}
.pager i {
  margin-right: -5px;
}

/* Global Styling */
footer {
  margin-bottom: 15px;
}
a:hover, a:active, a:focus {
  outline: 0;
}
.quote-description {
  margin: 25px 0;
}
.network-icon {
  color: #999999;
  margin: 0 10px;
}
.network-icon:hover {
  color: #000;
  text-decoration: none;
}
.network-twitter {
  font-size: 90%;
}

/* Homepage Styling */
.recent-posts h3 {
  margin: -5px 0 0;
}

/* Projects Styling */
#projects-container h3 {
  margin-top: -50px;
  padding-top: 50px;
}
#projects-container dl {
  margin-top: 0;
}

/* Blog Styling */
#blog-container ul {
  list-style: none;
  padding-left: 2px;
}
